a {
	text-decoration: none
}
table {
	width: 50%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table, td {
	border: 1px solid #000;
	line-height: 25px;
}
table thead {
	font-weight: bold;
}
input, button{
	padding: 5px;
}
button{
	cursor: pointer;
}
.group{
	margin-top: 20px;
}
.group li {
	padding: 5px;
}
.group-input{
	margin-bottom: 20px;
}
.group-input label{
	font-weight: bold;
	display: block;
}
