<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ATM</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h1><%= @title%></h1>
  <form action="" method="post">
    <input type="text" name="name" placeholder="Fullname">
    <button type="submit">Add user</button>
  </form>
  <div class="group">
    <ul>
      <li><a href="/"> Homepage</a></li>
      <li><a href="/user"> List user</a></li>
    </ul>
  </div>
</body>
</html>