<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ATM</title>
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
  <h1>Welcome to ATM</h1>
  <ul>
    <li>
      <a href="/user">List users</a>
    </li>
    <li>
      <a href="/user/add">Add user</a>
    </li>
  </ul>
</body>
</html>